body{
	background-color:white;
	color:black;
	font-family:cursive;
	font-size:15px;
	line-height:20px;
	text-align:center;
}
h1{
	font-variant:small-caps;
	letter-spacing:2px;
}
p{
	padding:150px
}