body{ 
	background-color:rgb(245, 245, 245);
	color:rgb(0, 174, 186);
	font-family:cursive;
	font-size:15px;
	line-height:25px;
	text-align:center;
}

h1{
	font-family:sans-serif;
	font-variant:small-caps;
	letter-spacing:10px;
}

h2{
	color:#000000;
	font-weight:lighter;
}

ul {
text-align: center;
list-style-position: inside;
}

a{
	text-decoration:none;
	color:#05ffe6;
}
a:hover{
	color:#0000ff;
}

div{
	border:solid;
	margin:25px 300px;
	padding:20px;
	border-radius:15px;
	box-shadow:15px 10px 20px;
}
iframe{
	border-radius:15px;
}
